@model  Project_2.Models.User
@{
    ViewBag.Title = "Login";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        header {
            margin-bottom: 0;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="card shadow-lg border-primary">
                    <div class="card-header bg-primary text-white text-center">
                        <h3 class="mb-0">Login</h3>
                    </div>
                    <div class="card-body">
                        @using (Html.BeginForm("Login", "Account", FormMethod.Post))
                        {
                            <div class="form-group">
                                @Html.LabelFor(m => m.Email, new { @class = "form-label" })
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Password, new { @class = "form-label" })
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            </div>
                            <center>  <button style="margin-top:10px;" type="submit" class="btn btn-primary btn-block">Login</button>   </center>
                        }
                    </div>
                    <div class="card-footer text-center">
                        <p>Don't have an account? @Html.ActionLink("Register", "Register", "Account", new { @class = "btn btn-link" })</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
</body>
</html>
